@{
    ViewBag.Title = "Index";
}

@section PageCss
{
    <link href="~/css/Inbox.css" rel="stylesheet"/>
}
@section PageJs
{
    <script language="javascript" type="text/javascript">
        $(function() {
            $("#btnPatientSearch").click(function() {
                window.location.href = "@Url.Content("/PatientSearch")";
            });
            $("#btnPatientChart").click(function () {
                window.location.href = "@Url.Content("/PatientChart/Index/1")";
            });
        });
    </script>
}

<h2>Inbox</h2>
